# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive - Technion\Technion - Liron Tyomkin\מבוא להסקה סיבתית - 097400\project\code and data\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
